<div class="panel-heading">
<%= link_to "FI", url_for(:locale => 'fi') %>
<%= link_to "EN", url_for(:locale => 'en') %>
<div class="pull-right">

<%= link_to faq_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-info-sign"></i>
<%= t('.faq') %>

<% end %>

</div>
<div class="clearfix"></div>
</div>