<div class="panel-heading">
<div class="pull-right">

<%= link_to faq_path, class: "btn btn-primary" do %>
<i class="glyphicon glyphicon-info-sign"></i>
<%= t('.faq') %>

<% end %>

</div>
<div class="clearfix"></div>
</div>