<h3>
<%= t('.edit_cache')%>
</h3>
<%= form_for @geocache, :url => {controller: "geocaches", action: "update"}, method: :put do |f| %>
<%= render 'form', f: f %>
<%= f.submit t('.submit'), class: "btn btn-default", data: {disable_with: t('.submitting')} %>
<% end %>