<h3>
<%= t('.add_a_new_cache') %>
</h3>
<%= form_for @geocache, :url => {controller: "geocaches", action: "create"}, method: :post do |f| %>
<%= render 'form', f: f %>
<%= f.submit t('.submit'), class: "btn btn-default", data: {disable_with: t('.submitting')} %>
<% end %>